.a-tooltip {
  position: absolute;
  color: white;
  background-color: black;
  opacity: 0.6;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  display: none;
  white-space: nowrap;
  padding: 8px;
  border-radius: 10%;
  z-index: 1000;
}

.a-tooltip-container {
  position: relative;

  &:hover {
    .a-tooltip {
        display: inline-block;
    }
  }
}